# Chapter 3: Built-In Data Structures, Functions, and Files

## 3.1: Data Structures and Sequences

### Tuple

In [1]:
tup=(4,5,6)
tup
print(tup)

(4, 5, 6)

In [2]:
tup=4,5,6,8
tup

(4, 5, 6, 8)

In [3]:
tup1=tuple([1,2,3])
tup1

(1, 2, 3)

In [4]:
tup2=tuple('string')
tup2

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup2[1]

't'

In [6]:
nested_tup=(4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
nested_tup[1]

(7, 8)

In [8]:
tup=tuple(['foo',[1,2],True])
tup

('foo', [1, 2], True)

In [9]:
tup[2]=False

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup[1].append(3)
tup

In [ ]:
(4,None,'foo')+(6,0)+('bar',)

In [ ]:
('foo','bar')*4

In [ ]:
a,b,c=tup

In [ ]:
(d,e,f),(g,h)=nested_tup

In [ ]:
nested_tup=(1,9)

In [10]:
a,b=1,2

In [11]:
b,a=a,b

In [12]:
seq=[(1,2,3),(4,5,6),(7,8,9)]

In [17]:
for a,b,c in seq:
    print(f'a={a},b={b},c={c}')

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [18]:
values=1,2,3,4,5

In [19]:
a,b,*rest=values

In [20]:
d,e,*rem=values

In [21]:
rem

[3, 4, 5]

In [22]:
a,b,*_=values

#### Tuple Methods

In [23]:
a=(1,2,2,2,3,4,2)

In [25]:
a.count(2)

4

In [26]:
len(a)

7

### List

In [27]:
a_list=[2,3,7,None]

In [28]:
len(a_list)

4

In [29]:
tup=("foo","bar","baz")
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [30]:
b_list[1]='pekaboo'

In [31]:
b_list

['foo', 'pekaboo', 'baz']

In [32]:
gen=range(10)
gen

range(0, 10)

In [33]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [34]:
b_list

['foo', 'pekaboo', 'baz']

In [36]:
b_list[3]="new"

IndexError: list assignment index out of range

In [37]:
b_list.append("new")

In [38]:
b_list.insert(1,"red")

In [39]:
b_list.pop(2)

'pekaboo'

In [40]:
b_list

['foo', 'red', 'baz', 'new']

In [42]:
b_list.append("foo")

In [43]:
b_list

['foo', 'red', 'baz', 'new', 'foo']

In [44]:
b_list.remove("foo")

In [45]:
b_list

['red', 'baz', 'new', 'foo']

In [47]:
"baz" in b_list

True

In [48]:
"dwarf" not in b_list

True

In [51]:
b_list.append("7","9")
b_list

TypeError: list.append() takes exactly one argument (2 given)

In [52]:
[4,None,"foo"]+[7,8,(9,10)]

[4, None, 'foo', 7, 8, (9, 10)]

In [53]:
x=[4,None,"foo"]
x.extend([7,8,(2,3)])

In [54]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sorting

In [58]:
seq.sort()

In [62]:
seq[0]=(9,2,3)

In [63]:
seq.sort()

In [64]:
seq1=[(3,1,2),(2,3,7)]

In [65]:
seq1.sort()

In [68]:
a=[7,2,5,1,3]
a.sort()
a

[1, 2, 3, 5, 7]

In [69]:
b=["saw","small","He","foxes","six"]
b.sort()
b

['He', 'foxes', 'saw', 'six', 'small']

In [70]:
b.sort(key=len)
b

['He', 'saw', 'six', 'foxes', 'small']

#### Slicing

In [71]:
seq=[7,2,3,7,5,6,0,1]

In [72]:
seq[1:5]

[2, 3, 7, 5]

In [73]:
seq[3:5]=[6,3]

In [74]:
seq[:5]

[7, 2, 3, 6, 3]

In [75]:
seq[3:]

[6, 3, 6, 0, 1]

In [76]:
seq[-4:]

[3, 6, 0, 1]

In [77]:
seq[:-4]

[7, 2, 3, 6]

In [78]:
seq[-6:-2]

[3, 6, 3, 6]

In [79]:
seq[::2]

[7, 3, 3, 0]

In [80]:
seq.append(8)

In [81]:
seq[::2]

[7, 3, 3, 0, 8]

In [82]:
seq[::-1]

[8, 1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary

In [83]:
empty_dict={}

In [1]:
d1={"a":"some value","b":[1,2,3,4]}

In [85]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [86]:
print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [89]:
d1['a']

'some value'

In [91]:
d1[7]="an integer"

In [92]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [97]:
"b1" in d1

False

In [99]:
"b" in d1

True

In [100]:
7 in d1

True

In [101]:
'some value' in d1

False

In [102]:
d1[5]="some value"

In [103]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [104]:
d1["dummy"]="another value"

In [105]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [106]:
del d1[5]

In [107]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [108]:
ret=d1.pop("dummy")

In [109]:
ret

'another value'

In [110]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [112]:
list(d1.keys())

['a', 'b', 7]

In [114]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [115]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [117]:
type(list(d1.items()))

list

In [121]:
list(d1.items())[0]

('a', 'some value')

In [123]:
for item in list(d1.items()):
    print(f'a={item[0]}, b={item[1]}')

a=a, b=some value
a=b, b=[1, 2, 3, 4]
a=7, b=an integer

In [122]:
for item in list(d1.items()):
    print(item)

('a', 'some value')
('b', [1, 2, 3, 4])
(7, 'an integer')

In [124]:
for a,b in list(d1.items()):
    print(f'a={a}, b={b}')

a=a, b=some value
a=b, b=[1, 2, 3, 4]
a=7, b=an integer

In [125]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [127]:
d1.update({"b":"foo","c":12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dictionaries from sequences

In [132]:
list(zip("abc","123"))

[('a', '1'), ('b', '2'), ('c', '3')]

In [133]:
list(zip("abc",[1,2,3]))

[('a', 1), ('b', 2), ('c', 3)]

In [134]:
mapping={}
for key,value in zip("abc",[1,2,3]):
    mapping[key]=value
mapping

{'a': 1, 'b': 2, 'c': 3}

In [163]:
tuples=zip(range(5),reversed(range(5)))
tuples

In [158]:
#list(tuples)

In [159]:
#tuples

In [160]:
#dict(tuples)

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [164]:
mapping=dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [ ]:
d1={"a":"some value","b":[1,2,3,4]}

In [2]:
d1.get("b")

[1, 2, 3, 4]

In [5]:
d1.get("C")

In [6]:
d1.pop("a")

'some value'

In [9]:
d1["a"]="some value"

In [10]:
d2={"a":"some value","b":[1,2,3,4]}

In [11]:
d1==d2

True

In [12]:
d1.pop("c")

KeyError: 'c'

In [13]:
d1.get("c","/")

'/'

In [16]:
words=["apple","bat","bar","atom","book"]
by_letter={}

for word in words:
    letter=word[0]
    if letter not in by_letter:
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [19]:
type(by_letter["a"])

list

In [27]:
by_letter={}

for word in words:
    letter=word[0]
    by_letter.setdefault(letter,[]).append(word)
    print(by_letter)

{'a': ['apple']}
{'a': ['apple'], 'b': ['bat']}
{'a': ['apple'], 'b': ['bat', 'bar']}
{'a': ['apple', 'atom'], 'b': ['bat', 'bar']}
{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [28]:
from collections import defaultdict
by_letter=defaultdict(list)

In [29]:
?defaultdict

Init signature: defaultdict(self, /, *args, **kwargs)
Docstring:
defaultdict(default_factory=None, /, [...]) --> dict with default factory

The default factory is called without arguments to produce
a new value when a key is not present, in __getitem__ only.
A defaultdict compares equal to a dict with the same items.
All remaining arguments are treated the same as if they were
passed to the dict constructor, including keyword arguments.
File:           ~/opt/miniconda3/envs/pydata-book/lib/python3.10/collections/__init__.py
Type:           type
Subclasses:     Quoter

In [35]:
by_letter={}
by_letter=defaultdict(list)

for word in words:
    by_letter[word[0]].append(word)

by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [36]:
hash("abc")

7284314405762895146

In [37]:
hash(8)

8

In [38]:
hash([1,2,3])

TypeError: unhashable type: 'list'

In [40]:
hash((2,(7,9)))

1061314515648190478

In [41]:
d={}
d[(1,2,3)]=5
d

{(1, 2, 3): 5}

In [42]:
d[(1,2,3)]

5

### Set

In [43]:
set([2,3,4,1,2,2,1])

{1, 2, 3, 4}

In [44]:
{2,3,4,1,2,2,1}

{1, 2, 3, 4}

In [45]:
a={1,2,3,4,5}
b={3,4,5,6,7,8}

In [46]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [47]:
b.union(a)

{1, 2, 3, 4, 5, 6, 7, 8}

In [48]:
a|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
a.intersection(b)

{3, 4, 5}

In [50]:
a&b

{3, 4, 5}

In [51]:
c=a.copy()

In [52]:
c.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
c|b

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
c|=b

In [55]:
d=a.copy()

In [56]:
d

{1, 2, 3, 4, 5}

In [57]:
d&b

{3, 4, 5}

In [58]:
d&=b
d

{3, 4, 5}

In [59]:
my_data=[1,2,3,4]

In [60]:
{my_data}

TypeError: unhashable type: 'list'

In [61]:
tuple(my_data)

(1, 2, 3, 4)

In [63]:
my_set={tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [64]:
a_set={1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [65]:
a_set.issuperset({1,2,3})

True

In [68]:
{1,2,3}=={3,2,1}

True

### Built-In Sequence Functions

#### enumerate

In [70]:
collection=[1,2,3,7]
index=0
for value in collection:
    index=index+value
    print(index)

1
3
6
13

In [73]:
list(enumerate(collection))

[(0, 1), (1, 2), (2, 3), (3, 7)]

In [74]:
for index,value in enumerate(collection):
    print('Index is',index,"and value is", value)

Index is 0 and value is 1
Index is 1 and value is 2
Index is 2 and value is 3
Index is 3 and value is 7

#### sorted

In [75]:
sorted({9,2,3,8})

[2, 3, 8, 9]

In [99]:
sorted({9,2,3,8},reverse=True)

[9, 8, 3, 2]

In [79]:
sorted(((1,8,2),(1,2,3)))

[(1, 2, 3), (1, 8, 2)]

In [80]:
sorted([7,1,2,6,0,3,2])

[0, 1, 2, 2, 3, 6, 7]

In [81]:
sorted("hourse    race")

[' ', ' ', ' ', ' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's', 'u']

#### zip

In [86]:
seq1=["foo","bar","baz","a"]
seq2=["one","two","three"]
zipped=zip(seq1,seq2)

In [87]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [88]:
seq3=[True,False]
zipped1=zip(seq1,seq2,seq3)
list(zipped1)

[('foo', 'one', True), ('bar', 'two', False)]

In [89]:
zipped2=zip(seq1,seq3,seq2)
list(zipped2)

[('foo', True, 'one'), ('bar', False, 'two')]

In [90]:
zipped1==zipped2

False

In [92]:
zipped3=zip(seq1,seq1,seq2)
list(zipped3)

[('foo', 'foo', 'one'), ('bar', 'bar', 'two'), ('baz', 'baz', 'three')]

In [93]:
list(enumerate(zip(seq1,seq2)))

[(0, ('foo', 'one')), (1, ('bar', 'two')), (2, ('baz', 'three'))]

In [94]:
for index,(a,b) in enumerate(zip(seq1,seq2)):
    print(f'{index}:{a},{b}')

0:foo,one
1:bar,two
2:baz,three

#### reversed

In [95]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [98]:
list(reversed([1,3,2]))

[2, 3, 1]

### List, Set, and Dictionary Comprehensions

In [1]:
strings=["a","as","bat","car","dove","python"]

[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [14]:
list1=list()

In [15]:
for x in strings:
    if len(x)>2:
        list1.append(x.upper())

In [18]:
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [22]:
{x.upper() for x in strings if len(x)>2}

{'BAT', 'CAR', 'DOVE', 'PYTHON'}

In [24]:
collection=[1,2,3,4,5,6,7]
dict_comp={'key '+str(key):key**2 for key in collection if key>3}
dict_comp

{'key 4': 16, 'key 5': 25, 'key 6': 36, 'key 7': 49}

In [29]:
dict_comp["key 4"]

16

In [23]:
dict_comp1=dict()

In [30]:
for key in collection:
    if key>3:
        dict_comp1[key]='key'+str(key)
dict_comp1

{4: 'key4', 5: 'key5', 6: 'key6', 7: 'key7'}

In [31]:
collection={7,8,9}
set_comp={key+key+1 for key in collection if key>=8}
set_comp

{17, 19}

In [32]:
lengths=[len(x) for x in strings]
unique_lengths={len(x) for x in strings}

In [33]:
lengths

[1, 2, 3, 3, 4, 6]

In [34]:
unique_lengths

{1, 2, 3, 4, 6}

In [35]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [36]:
list(map(len,strings))

[1, 2, 3, 3, 4, 6]

In [119]:
loc_mapping={index:value for index,value in enumerate(strings)}
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

#### Nested List Comprehensions

In [37]:
all_data=[["John","Emily","Michael","Mary","Steven"],["Maria","Juan","Javier","Natalia","Pilar"]]

In [40]:
len(all_data)

2

In [41]:
type(all_data)

list

In [46]:
names_of_interest=[]

for names in all_data:
    for name in names:
        if name.count("a")>=2:
            names_of_interest.append(name)

names_of_interest

['Maria', 'Natalia']

In [78]:
names_of_interest=[]
for names in all_data:
    enough_as=[name for name in names if name.count("a")>=2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [79]:
[name for names in all_data for name in names if name.count("a")>=2]

['Maria', 'Natalia']

In [80]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [81]:
some_tuples

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [85]:
tuple_flattened=[]
for tuple in some_tuples:
    for digit in tuple:
        tuple_flattened.append(digit)
tuple_flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[digit for tuple in some_tuples for digit in tuple]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [88]:
tuple_flattened_v2=[]
for tuple in some_tuples:
    tuple_flattened_v2.append(list(tuple))
tuple_flattened_v2

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
[list(tuple) for tuple in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [90]:
[[x for x in tuple] for tuple in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## 3.2: Functions

In [8]:
def my_function(x,y):
    return (x+y)

In [9]:
my_function(2,3)

5

In [3]:
result=my_function(2,3)
result

5

In [4]:
def function_without_return(x):
    print(x)

In [5]:
function_without_return("hello")

hello

In [6]:
result1=function_without_return("hello")

hello

In [7]:
result1

In [10]:
def my_function_2(x,y,z=1.5):
    if z>1:
        return z*(x+y)
    else:
        return z/(x+y)

In [11]:
my_function_2(1,2)

4.5

In [16]:
my_function_2(1,2,z=1)

0.3333333333333333

### Namespaces, scopes, and Local Functions

In [1]:
def func():
    a=[]
    for i in range(5):
        a.append(i)

In [2]:
func()

In [3]:
def func1():
    for i in range(5):
        a.append(i)

In [4]:
a=[]
func1()

In [5]:
a= None

In [6]:
def bind_a_variable():
    global a
    a=[1,2,3]

In [7]:
bind_a_variable()

### Returning Multiple Values

In [15]:
def f():
    a=5
    b=6
    c=7
    return a,b,c

In [16]:
f()

(5, 6, 7)

In [17]:
a,b,c=f()

In [18]:
d,e,f,=f()

In [21]:
def f():
    a=5
    b=6
    c=7
    return a,b,c

In [22]:
return_value=f()

In [23]:
def f():
    a = 5
    b = 6
    c = 7
    return {"a" : a, "b" : b, "c" : c}

In [24]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [25]:
r1=f()

In [26]:
f()

{'a': 5, 'b': 6, 'c': 7}

### Functions are objects

In [31]:
states=["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda","south carolina##", "West virginia?"]

In [28]:
import re

In [32]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [33]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [38]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops=[str.strip,remove_punctuation,str.title]

def clean_strings(strings,ops):
    result=[]
    for value in strings:
        for op in ops:
            value=op(value)
        result.append(value)
    return result

In [39]:
clean_strings(states,clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [41]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south carolina
West virginia

### Anonymous (Lambda) Functions

In [42]:
def short_function(x):
    return x**2

In [43]:
short_function(3)

9

In [44]:
equiv_anon= lambda x: x**2

In [45]:
equiv_anon(3)

9

In [46]:
def apply_to_list(some_list,f):
    return [f(x) for x in some_list]

In [47]:
ints=[4,0,1,5,6]

apply_to_list(ints,lambda x: x**2)

[16, 0, 1, 25, 36]

In [50]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [73]:
strings.sort(key=lambda x: len(set(x)))

In [74]:
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generators

In [75]:
some_dict = {"a": 1, "b": 2, "c": 3}

In [79]:
list(iter(some_dict))

['a', 'b', 'c']

In [80]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [81]:
squares()

In [82]:
def squares1(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        return i ** 2

In [83]:
squares1()

Generating squares from 1 to 100

1

In [84]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [101]:
gen=squares()

In [102]:
for x in gen:
    print(x,end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [99]:
gen

In [107]:
gen1=(x ** 2 for x in range(100))

In [104]:
gen1

In [108]:
sum(gen1)

328350

In [110]:
gen2=((i, i ** 2) for i in range(5))

In [111]:
dict(gen2)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [112]:
import itertools

In [113]:
def first_letter(x):
    return x[0]

In [162]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

In [131]:
f1=itertools.groupby(names,first_letter)

In [130]:
list(f1)

[('A', <itertools._grouper at 0x13ca1a950>),
 ('W', <itertools._grouper at 0x13ca1b0a0>),
 ('A', <itertools._grouper at 0x13ca1b3d0>),
 ('S', <itertools._grouper at 0x13ca1aef0>)]

In [132]:
a1=list(f1)

In [137]:
a1

[('A', <itertools._grouper at 0x1075f84c0>),
 ('W', <itertools._grouper at 0x1075f8f70>),
 ('A', <itertools._grouper at 0x1075f8940>),
 ('S', <itertools._grouper at 0x1075faa10>)]

In [139]:
list(a1[1][0])

['W']

In [144]:
f1=itertools.groupby(names,first_letter)
list(f1)

[('A', <itertools._grouper at 0x1075f8280>),
 ('W', <itertools._grouper at 0x1075f88b0>),
 ('A', <itertools._grouper at 0x1075f8430>),
 ('S', <itertools._grouper at 0x1075f8bb0>)]

In [164]:
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [163]:
itertools.groupby(names, first_letter)

### Errors and Exception Handling

In [165]:
float("1.2345")

1.2345

In [166]:
float("something")

ValueError: could not convert string to float: 'something'

In [167]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [168]:
attempt_float("1.23456")

1.23456

In [169]:
attempt_float("something")

'something'

In [170]:
float((1, 2))

TypeError: float() argument must be a string or a real number, not 'tuple'

In [180]:
def attempt_float_1(x):
    try:
        return float(x)
    except ValueError:
        return print('Value Error!',x)
    except TypeError:
        return print("Wrong type....!")
    finally:
        print("Thanks!")

In [183]:
attempt_float_1("1.23")

Thanks!

1.23

In [182]:
attempt_float_1("some")

Value Error! some
Thanks!

In [184]:
attempt_float_1((1,2))

Wrong type....!
Thanks!

In [185]:
attempt_float_1(8)

Thanks!

8.0

In [186]:
def attempt_float_2(x):
    try:
        return float(x)
    except:
        print("Failed")
    else:
        print("Success")
    finally:
        print("Thanks!")

In [189]:
attempt_float_2("9.5")

Thanks!

9.5

## 3.3: Files and the Operating System

In [206]:
import os
os.getcwd()

'/'

In [205]:
os.listdir(os.curdir)

['home',
 'usr',
 'bin',
 'sbin',
 '.file',
 'etc',
 'var',
 'Library',
 'System',
 '.VolumeIcon.icns',
 'private',
 '.vol',
 'Users',
 'Applications',
 'opt',
 'dev',
 'Volumes',
 'tmp',
 'cores']

In [207]:
os.chdir("/Users/karimbadr/pydata-book")

In [208]:
os.getcwd()

'/Users/karimbadr/pydata-book'

In [211]:
path= "/Users/karimbadr/pydata-book/examples/segismundo.txt"

In [213]:
f = open(path,encoding="utf-8")

In [214]:
for line in f:
    print(line)

Sueña el rico en su riqueza,

que más cuidados le ofrece;



sueña el pobre que padece

su miseria y su pobreza;



sueña el que a medrar empieza,

sueña el que afana y pretende,

sueña el que agravia y ofende,



y en el mundo, en conclusión,

todos sueñan lo que son,

aunque ninguno lo entiende.

In [215]:
lines1=[x.rstrip() for x in open(path, encoding="utf-8")]

In [216]:
lines1

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [218]:
for x in open(path, encoding="utf-8"):
    print(x.rstrip())

Sueña el rico en su riqueza,
que más cuidados le ofrece;

sueña el pobre que padece
su miseria y su pobreza;

sueña el que a medrar empieza,
sueña el que afana y pretende,
sueña el que agravia y ofende,

y en el mundo, en conclusión,
todos sueñan lo que son,
aunque ninguno lo entiende.

In [221]:
f.close()

In [222]:
for line in f:
    print(line)

ValueError: I/O operation on closed file.

In [223]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [224]:
f1 = open(path)

In [225]:
f1.read(10)

'Sueña el r'

In [235]:
f2 = open(path, mode="rb")

In [236]:
f2.read(10)

b'Sue\xc3\xb1a el '

In [237]:
f1.tell()

11

In [238]:
f2.tell()

10

In [239]:
import sys
sys.getdefaultencoding()

'utf-8'

In [240]:
f1.seek(3)

3

In [241]:
f1.read(1)

'ñ'

In [242]:
f1.tell()

5

In [243]:
f1.close()
f2.close()

In [244]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

In [245]:
with open("tmp.txt") as f:
    lines = f.readlines()

In [246]:
lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [248]:
os.getcwd()

'/Users/karimbadr/pydata-book'

#### Bytes and Unicode with Files

In [249]:
with open(path) as f:
    chars = f.read(10)

In [250]:
chars

'Sueña el r'

In [251]:
with open(path, mode="rb") as f:
    data = f.read(10)

In [252]:
data

b'Sue\xc3\xb1a el '

In [253]:
data.decode("utf-8")

'Sueña el '

In [254]:
data[:4]

b'Sue\xc3'

In [255]:
sink_path = "sink.txt"

with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

In [258]:
with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

In [259]:
f = open(path, encoding='utf-8')

In [260]:
f.read(5)

'Sueña'

In [265]:
f.seek(4)

4

In [266]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [267]:
f.seek(5)
f.read(1)

'a'

In [268]:
# I think a special char is 2 bytes